{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "no-unused-vars": "off",
    "no-useless-constructor": "off",
    "camelcase": [2, {"properties": "always"}]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
