<div class="listing-page__intro">
  <img alt="promo" [attr.src]="'/assets/img/special-votings-type.png'" width="100%" height="auto"/>
</div>
<div class="listing-page__header">

  <h1 class="listing-page__title">{{ contract?.title }}</h1>

  <div class="listing-page__controls">
    <button
      class="active"
      *ngIf="contract?.permissionCreateGrant"
      routerLinkActive="active"

    >
      {{ 'app.controls.createGrant' | transloco }}
    </button>
  </div>

</div>
<div class="listing-page__address mat-display-1">
  <a class="a a--alt" [attr.href]="(api?.mainnet?.explorer + contract?.type )| linkHttp" target="_blank"
     rel="noopener nofollow noreferrer">
    {{ contract?.type }}
  </a>
</div>

<div class="listing-page__description">
  <div>
    {{ contract?.desc }}
  </div>
  <div class="listing-page__about" *ngIf="contract?.name as contractName">
    <a [routerLink]="['/', 'grants', contractName, 'about']">
      {{ 'listing.more' | transloco }}
    </a>
  </div>

  <br/>
  <br/>

<!--  TODO: условия кнопок-->
  <button (click)="onAddMember()">onAddMember</button>
  <button (click)="onProposeMember()">onProposeMember</button>
  <button (click)="onRejectMember()">onRejectMember</button>
  <button (click)="onAddWorkingGroup()">mAddWorkingGroup</button>
  <button (click)="onAddMembershipWorkingGroup()">onAddMembershipWorkingGroup</button>

  <hr>

  member
  <ul class="listing" *ngFor="let member of member$ | async">
    <li>
      <button (click)="vote(member.address, 'dislike')">-</button>
      <button (click)="vote(member.address, 'like')">+</button>
      {{member.address}}
      {{member.status}}
      {{member.vote}}
    </li>
  </ul>

  <hr>

  WG
  <ul class="listing" *ngFor="let wg of wg$ | async">
    <li>
      {{wg.address}}
    </li>
  </ul>

  <hr>

  WGMs
  <ul class="listing" *ngFor="let mwg of mwg$ | async">
    <li>
      {{mwg.address}}
    </li>
  </ul>
</div>

