<div class="container home-page">

    <div class="container__mid">
        <h1 class="home-page__title">
            {{'listing.title' | transloco}}
        </h1>

        <div class="home-page__desc">
            {{'listing.desc.you_can_vote' | transloco}}.&nbsp;
            <span class="home-page__desc-span">{{'listing.desc.select_category' | transloco}}:</span>
        </div>

        <div class="home-page__grants">
            <a class="home-page__grant"
                 *ngFor="let grants of grantsVariationsList | async"
                [routerLink]="constants.routes.listing | route : grants?.name"
            >
                <img class="home-page__grant-img" [src]="grants?.preview"/>
                <span class="home-page__grant-content">
                    <span class="home-page__grant-title">{{grants?.title}}</span>
                    <span class="home-page__grant-desc">{{grants?.desc}}</span>
                </span>
            </a>
            <div class="home-page__grant-final"></div>
        </div>
    </div>
</div>
