@mixin icon-logo($size: 21px) {
  background: $blue;
  border-radius: 50%;
  height: $size;
  position: relative;
  width: $size;

  &::after {
    background: #fff;
    bottom: 0;
    content: '';
    height: $size / 3;

    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    width: $size / 3;
  }
}
