@mixin text-title($type: h1) {
  line-height: 1;
  margin: 0;
  @if $type == h1 {
    color: #000;
    font-size: $font-size-big;
    font-weight: 600;
    padding: 0;
  } @else if $type == h2 {
    font-size: $font-size-large;
    color: $blue;
    padding: 0;
  } @else if $type == h3 {
    padding: 0;
    font-size: $font-size-medium;
    color: #000;
  } @else if $type == h4 {
    padding: 0;
    font-size: $font-size-small;
    color: #000;
  }
}
