
<div class="container guide-page">

  <div class="container__left">
    <button class="container__left__back-btn" (click)="goBack()">
      <img alt="back" src="assets/icons/arr-left.svg">{{'container.back' | transloco}}
    </button>
  </div>

  <div class="container__mid">

    <h1>How To DAO</h1>
    <h2>User guide</h2>
    <p>Децентрализованная система управления

      DAO - децентрализованная автономная организация - это программное обеспечение, которое используется в Waves как инструмент принятия решений в Waves Association, которая определяет вектор развития всей экосистемы и принимает стратегические решения по Waves Protocol, Gravity Protocol, Neutrino и другим продуктам.

      Еще при создании Ассоциации 31го января 2020 года было объявлено, что в основе управления ею будет лежать децентрализация и прозрачность. Исходя из этих принципов в Ассоциации реализован простой флоу прием новых членов, а также стандарт принятия решений по стратегическим вопросам, в частности по финансированию проектов в экосистеме. Но Ассоциация должна оставаться прозрачной не только для своих членов, но и для любого участника блокчейн-сообщества, поэтому все ее процессы должны проводиться прозрачно. С этой целью и было разработано DAO.

      Благодаря концепту Waves DAO, сообщество может видеть, какие решения сейчас обсуждаются в Ассоциации, как проходят голосования, знать, кто именно стоит за принятием решения о финансировании какого-либо проекта. Этот концепт ведет не только к росту уровня доверия к Ассоциации, но и позволяет сообществу держать руку на пульсе и даже участвовать в определении вектора развития экосистемы. Число мнений и заинтересованных сторон крайне важно для эффективности развития, следуя концепции wisdom of the crowd.


      В этом гайде будет детально и просто объяснено, как принимаются решения на DAO и кто в них участвует. С помощью этого гайда любой член сообщества может разобраться в DAO и воспользоваться преимуществами его прозрачности для того, чтобы изучить состояние дел в Waves Association.

      DAO Manager - администратор DAO, имеющий право настраивать список участников рабочей группы и членов Ассоциации. На данный момент DAO Manager - это один аккаунт, доступ от которого имеет секретарь Ассоциации. В голосованиях DAO Manager не участвует.

      DAO Member - член Ассоциации, который был принят в нее по рекомендации рабочей группы по членству, заплатил членский взнос и имеет право принимать участие в голосованиях за распределение грантов. Список аккаунтов, которые имеют статус DAO Member, определяется DAO Manager’ом. На данный момент это 30 человек - членов Ассоциации.

      Working Group member - член рабочей группы по грантам и финансированию (Working Group for Funding & Grants). Задача группы - осуществлять административную роль в менеджменте грантовой программы. В частности, WG Members должны предлагать задачи для грантов, окрывать/закрывать голосование за получателей грантов и готовить отчеты по реализации гранта. На данный момент в состав рабочей группы входит 8 человек. Их аккаунты заносятся в DAO секретарем.

      Applicant - пользователь, который не добавлен в список участников DAO. Это любой член сообщества, который подал заявку на грант, используя свой аккаунт Waves. Если его заявка была одобрена и утверждена голосованием DAO Members, пользователю будет присужден статус Performer.

      Типы грантов
      В процессе распределения грантов участвуют все пользовательские роли, кроме DAO Manager. Для удобства обозначения введем аббревиатуры для них: DAO Member (DM), Working Group Member (WG), Performer (PE).

      Disruptive Tech Grants

      Гранты этого типа предлагаются членами Ассоциации. Обычно это крупные задачи по разработке или исследования, которые могут быть полезны для развития и адопшена блокчейн-технологии.

      Workflow: (должна быть схема)
      WG: proposes task
      WG: adds task description and reward amount
      DM: votes on task (do we really need it?)
      WG: finishes voting on the task
      PE: applies for performing the task
      DM: votes on task applicants (choose the performer)
      WG: finish performer election
      PE: starts work on the bounty
      PE & WG: off-chain communication
      WG: accepts a solution with work report and pays a reward


      Web 3.0 Development Grants

      Идеи для грантов этого типа предлагаются исполнителями. Обычно это идеи децентрализованного приложения или стартапа. Ознакомиться с идеями Web 3.0 Grants, которые уже получили одобрение, можно в статье на Medium.

      Workflow: (должна быть схема)
      PE: proposes solution
      PE: adds solution description and requested reward amount
      WG: initializes a voting on solution
      DM: votes on application (do we really need it?)
      WG: finishes voting on the task
      PE: starts work on the bounty
      PE & WG: off-chain communication
      WG: accepts a solution and pays a reward


      Interhack Grants

      Гранты этого типа максимально приближены к привычному разработчикам формату хакатона: Ассоциация выдвигает идею и предлагаемый приз, а разработчики соревнуются в реализации после прохождения первичного отбора.

      Workflow: (должна быть схема)
      WG: proposes task
      WG: adds task description and reward amount
      DM: votes on task
      WG: finishes voting on the task
      PE: applies for participating in hackathon
      DM: votes on hackathon participants
      WG: finish participants election
      WG: sets jury list & starts hackathon
      PE: submit solutions
      WG: stops accepting submissions
      JURY: votes on solutions
      WG: accepts the best solution and pays a reward

      В данном типе грантов появляется дополнительная сущность JURY - список адресов из числа DAO Members, которые участвуют в определении победителя. Это дополнение введено с целью повышения скорости обработки решений по завершению хакатона, так как требует меньшего числа вовлеченных лиц.


      Looking Forward

      Распределение грантов - основная задача Ассоциации. Но вместе с тем, для органичности и устойчивости она должна выполнять и другие процессы. Waves DAO должно стать основным инструментом для выполнения и фиксирования процессов Ассоциации, поэтому в будущем в него должен быть добавлен функционал, не относящийся напрямую к грантовой программе.

      Так, например, процесс по принятию новых членов в Ассоциацию должен быть перенесен на децентрализованную систему DAO от момента голосования рабочей группы по членству до внесения членского взноса. Это поможет сделать систему самостоятельной и цикличной, потому что обеспечит приток новых DAO Members, которые будут голосовать за спонсирование проектов.

      Возможно добавление и других голосований, определяющих изменения в экосистеме Waves: в ходе работы с первым батчем спонсируемых проектов рабочей группой была выявлена проблема недостатка верификации проектных токенов в обменниках Waves. Одно из голосований, которое может быть добавлено в DAO, - голосование членов Ассоциации за верификацию токенов, при позитивном исходе которого аватар токена может быть добавлен в Waves Exchange.

      …

      Waves DAO развивается в масштабную систему децентрализованного принятия решений. На первом этапе она будет использована для прозрачного распределения финансирования проектов в индустрии, а после вырастет до фреймворка управления экосистемой Waves. В то же время DAO само по себе остается независимым продуктом, который может быть использован и другими командами, поэтому команда делает упор на open source разработку и прозрачность в проработке концепта.
    </p>

  </div>
</div>
