<div class="container">
  <form [formGroup]="grantForm" (ngSubmit)="onSubmit()">
    <label>
      {{'create_grant.form.name.label' | transloco}}:
      <input type="text" formControlName="name" [placeholder]="'create_grant.form.name.placeholder' | transloco">
    </label>
    <label>
      {{'create_grant.form.reward.label' | transloco}}:
      <input type="text" mask="0 0000.0000" formControlName="reward" [placeholder]="'create_grant.form.reward.placeholder' | transloco">
    </label>
    <div class="btn-container full">
      <button type="submit" class="btn active" [disabled]="!grantForm.valid">
        {{'create_grant.form.apply' | transloco}}
      </button>
    </div>
  </form>
</div>
