<div class="container">
  <div class="container__left">
    <button class="container__left__back-btn" (click)="goBack()">
      <img src="assets/icons/arr-left.svg">{{'container.back' | transloco}}
    </button>
  </div>
  <div class="container__mid">

    <form [formGroup]="grantForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <div class="input-wrp">
          <br/>
          <input type="text" class="inputText" formControlName="name" required />
          <span class="floating-label">{{'create_grant.form.name.label' | transloco}}</span>
        </div>
      </div>

      <div class="input">
        <div class="input-wrp">
          <br/>
          <input type="text" class="inputText" formControlName="link" required/>
          <span class="floating-label">{{'create_grant.form.link.label' | transloco}}</span>
        </div>
      </div>

      <div class="btn-container full">
        <button type="submit" class="btn active" [disabled]="!userService.isBalanceMoreCommission">
          {{'create_grant.form.apply' | transloco}}
        </button>
      </div>
    </form>
  </div>
  <div class="container__right">
  </div>
</div>
