<div class="container">
  <div class="br3"></div>
  <div class="entity-page" *ngIf="entity.data$ | async as grant; else loadingOrErrorTemplate">
    <ui-entity [grant]="grant"></ui-entity>
  </div>
</div>

<ng-template #loadingOrErrorTemplate>
  <ng-container *ngIf="entity.error$ | async; else loading">
    Entity is not be loaded
    <!-- <div class="listing__error"></div> -->
  </ng-container>
</ng-template>

<ng-template #loading>
  Loading...
  <!-- <div class="listing__loader"></div> -->
</ng-template>

