<h1 class="content" role="main">
    <span>{{ title }} app is running!</span>
</h1>

<div class="stylesheet layout">

    <div class="stylesheet__layout ">
        <div class="container">
            <h1>Лейаут</h1>

            <p>Лейаут на странце один</p>
            <p>Он определяет положение шапки, подвала и контента. Он может быть
                модифицирован, например <code>.layout--center</code> или <code>.layout--medium</code>,
                но все равно является одним на всю страницу. Конструкции внутри
                страницы
                определяются контейнерами <code>.container</code> и его
                модификациями
            </p>

        </div>
    </div>

    <div class="stylesheet__container">
        <div class="container">
            <div class="stylesheet__container-decor"></div>

            <h1>Контейнеры</h1>

            <p>Контент страницы формируеся в виде горизонтальных блоков.
                Например в
                виде слоя с классом <code>.stylesheet__block</code>. Этот блок
                будет
                занимать всю ширину страницы</p>
            <p>Он не имеет заранее заданных отступов слева и справа. Для того,
                чтобы
                мог быть закрашен цветом или каким либо образом декорирован
                выступающими
                элементами из края страницы</p>

        </div>
    </div>

    <div class="stylesheet__components">
        <div class="container">
            <h1>Компоненты</h1>

            <p>Компонентный подход подразумевает, что все переиспользуемые части
                сайта
                должны быть реализованы через компоненты. С предопределенными
                входными
                значениями.
                Главная задача компонентв, в том чтобы им мог воспользоваться
                другой
                разработчик. Без специальной инструкции, располагая знаниями о
                текущей
                экосистеме проекта и основных правилах данного фреймворка</p>

            <p>Но при этом есть определенное подмножество элементов, которые
                должны
                оставаться глобальными в рамках стилей. Это элементы
                используемые в
                других компонентах. Заголовки, параграфы, ссылки и т.п.</p>
        </div>
    </div>

    <div class="stylesheet__headers">
        <div class="container">

            <div class="stylesheet__headers-row">
                <div class="stylesheet__headers-main">
                    <h1>H1. Длинный заголовок типовой страницы, чтобы
                        настроить интерлиньяж</h1>

                    <p class="lead">Лид&nbsp;—
                        это первый абзац статьи с классом <code>.lead</code>,
                        информативный
                        отрывок позволяющий захватить
                        внимание читателя на&nbsp;данном материале.
                        Необязательный элемент.
                    </p>

                    <p>Эта страница создана
                        для демонстрации блоков и&nbsp;элементов, которые
                        используются на&nbsp;сайте,
                        и&nbsp;служит руководством для всех, кто работает над
                        ним. Дизайнеры
                        и&nbsp;технологи
                        отрабатывают здесь стили, чтобы добиться приемлемых
                        результатов в&nbsp;различных
                        сочетаниях блоков и&nbsp;элементов. Контент-менеджеры и&nbsp;редакторы
                        используют страницу в&nbsp;качестве справочника по&nbsp;верстке
                        типовых
                        страниц. Здесь&nbsp;же рассказывается о&nbsp;некоторых
                        общих
                        правилах
                        оформления контента.</p>
                </div>

                <div class="stylesheet__headers-extra">
                    <h2>H2. Дополнительная колонка может
                        быть снабжена заголовками</h2>
                    <h3>H3. В&nbsp;том числе третьего уровня вложенности</h3>
                    <p>В&nbsp;«Реформатор» новые элементы добавляются
                        с&nbsp;помощью
                        редактирования файлов sidebar.html и&nbsp;editor.css (в&nbsp;/www/.reformator/).
                        Желательно создавать простые элементы, которые затем
                        будут
                        преобразовываться с&nbsp;помощью XSL.</p>
                </div>
            </div>

            <div class="stylesheet__headers-wide">
                <h2>H2. Многострочный заголовок,
                    длина которого иногда бывает так некстати</h2>
                <p>Типовые элементы оформляются в&nbsp;системе администрирования
                    через
                    визуальный редактор «Реформатор». Чтобы контент-менеджеру
                    было легче в&nbsp;них
                    ориентироваться, их&nbsp;количество лучше свести к&nbsp;необходимому
                    минимуму.</p>
                <h3>h3. Делаем заголовки нарочито длинными, чтобы убедиться в&nbsp;правильном
                    интерлиньяже </h3>
                <p>Имманентный подход подразумевает отношение к&nbsp;тексту как
                    к&nbsp;автономной
                    реальности, нацеленность на&nbsp;выявление его внутренней
                    структуры.
                    Репрезентативный&nbsp;— рассмотрение текста как особой формы
                    представления знаний о&nbsp;внешней тексту
                    действительности.</p>
                <h4>H4. В&nbsp;первую очередь нас интересуют интерлиньяж и&nbsp;отступы,
                    но&nbsp;не&nbsp;стоит забывать и&nbsp;про сам заголовок</h4>
                <p>Текст состоит из&nbsp;некоторого количества предложений. Одно
                    предложение, даже очень распространённое, сложное, текстом
                    назвать
                    нельзя, поскольку текст можно расчленить на&nbsp;самостоятельные
                    предложения, а&nbsp;части предложения сочетаются по&nbsp;законам
                    синтаксиса сложного предложения,
                    но&nbsp;не&nbsp;текста. </p>
                <h5>H5. Заголовок пятого уровня</h5>
                <p>Заголовок &lt;h5&gt; используется только для вспомогательной
                    информации, где есть вероятность появления шестого уровня
                    разбивки.
                    Пример&nbsp;— блок «Контактная информация», который внутри
                    дробится по&nbsp;отделам
                    компании.</p>
                <h6>H6. Низкоуровневый заголовок</h6>
                <p>Самый «нижний» заголовок &lt;h6&gt; предваряет такие
                    элементы, как
                    «Комментарий» или «Таблица».</p>
                <h2>Теперь покажем несколько двустрочных<br>
                    заголовков подряд &lt;h2&gt;
                </h2>
                <h3>Таким образом проверим их&nbsp;сочетание:<br>
                    интерлиньяж и&nbsp;отступы &lt;h3&gt;
                </h3>
                <h4>Однако, в&nbsp;реальной ситуации подобных
                    скоплений<br>
                    заголовков лучше избегать &lt;h4&gt;
                </h4>

                <p>Если за&nbsp;заголовком более низкого
                    уровня сразу следует заголовок более высокого, это нарушает
                    композиционную связность элементов оформления и&nbsp;логику
                    повествования. Поэтому после заголовка должен следовать
                    текст (или
                    иной
                    контент), который этот заголовок и&nbsp;подчиненные ему
                    подзаголовки,
                    если они есть, озаглавливают (подробнее&nbsp;см.&nbsp;в&nbsp;«Ководстве»:
                    <a
                            class="external"
                            href="http://www.artlebedev.ru/kovodstvo/sections/136/"
                    >
                        §&nbsp;136. Теория близости
                    </a>).
                </p>
            </div>
        </div>
    </div>

    <div class="stylesheet__list">
        <div class="container">
            <h2> Форматирование текста</h2>
            <h3>Списки</h3>
            <p>Для уменьшения расстояния между параграфом и&nbsp;связанным с&nbsp;ним
                списком, параграфу нужно добавлять класс «Перед списком»
                (<code>.before_list</code>).</p>
            <p class="before_list">Кроме того, существуют правила оформления
                списков:</p>
            <ul>
                <li>Если пункты списка длинные и&nbsp;представляют собой
                    развернутые
                    предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться
                    точкой.
                    <ul>
                        <li>Если пункты списка длинные и&nbsp;представляют собой
                            развернутые
                            предложения, они должны начинаться с&nbsp;прописной
                            буквы и&nbsp;заканчиваться
                            точкой.
                        </li>
                        <li>Если пункты списка короткие, не&nbsp;являются
                            самостоятельной
                            законченной конструкцией и&nbsp;грамматически тесно
                            связаны с&nbsp;предшествующей
                            списку вводной фразой, они должны начинаться со&nbsp;строчной
                            буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце
                            последнего пункта&nbsp;— точка).
                        </li>
                    </ul>
                </li>
                <li>Если пункты списка короткие, не&nbsp;являются
                    самостоятельной
                    законченной конструкцией и&nbsp;грамматически тесно связаны
                    с&nbsp;предшествующей
                    списку вводной фразой, они должны начинаться со&nbsp;строчной
                    буквы и&nbsp;заканчиваться
                    точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;—
                    точка).
                </li>
            </ul>
            <ol>
                <li>Если пункты списка длинные и&nbsp;представляют собой
                    развернутые
                    предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться
                    точкой.
                </li>
                <li>Если пункты списка короткие, не&nbsp;являются
                    самостоятельной
                    законченной конструкцией и&nbsp;грамматически тесно связаны
                    с&nbsp;предшествующей
                    списку вводной фразой, они должны начинаться со&nbsp;строчной
                    буквы и&nbsp;заканчиваться
                    точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;—
                    точка).
                </li>
            </ol>
            <h4> Короткие пункты </h4>
            <p class="before_list">Кстати списки с&nbsp;короткими пунктами
                оформляются
                проще:</p>
            <ul>
                <li class="short">с&nbsp;небольшими отступами;</li>
                <li class="short">без маркеров;</li>
                <li class="short">с&nbsp;цветовым выделением.</li>
            </ul>

        </div>
    </div>

    <div class="stylesheet__link">
        <div class="container">
            <h3>Ссылки</h3>
            <p>На&nbsp;сайте может встречаться несколько видов ссылок. Например,
                ссылка на&nbsp;<a class="external" href="http://www.yandex.ru/">
                    Яндекс

                </a> является внешней. Внутренние ссылки могут открываться по&nbsp;умолчанию
                в&nbsp;текущем окне (например, переход на&nbsp;<a href="/"
                                                                  class="">главную
                    страницу</a>) или в&nbsp;<a class="popup" href="/"
                                                target="_blank">
                    новом окне

                </a> (например, для показа изображений в&nbsp;оригинальном
                размере).
                Подробнее: <a class="external popup"
                              href="http://www.artlebedev.ru/kovodstvo/sections/171/"
                              target="_blank">
                    §&nbsp;171. Правила оформления ссылок

                </a>.
            </p>
        </div>
    </div>

    <div class="stylesheet__footnote">
        <div class="container">
            <h3>Сноски</h3>
            <p>Ссылку<sup class="footnote footnote_inited"
                          style="cursor: pointer;">1</sup>&nbsp;на сноску и&nbsp;название
                сноски нужно заключать в&nbsp;элемент «Сноска» (класс footnote).
                Таким
                образом сохраняется связь между ссылкой на&nbsp;сноску и&nbsp;самой
                сноской<sup class="footnote footnote_inited"
                            style="cursor: pointer;">2</sup>.</p>
            <div class="footnotes footnotes_inited">
                <p><sup class="footnote">1</sup>&nbsp;А это текст
                    сноски, который помещается в&nbsp;элемент «Сноски» (класс
                    footnotes).
                </p>
                <p><sup class="footnote">2</sup>&nbsp;Это позволит
                    при необходимости сделать всплывающую сноску.</p>
            </div>
            <h3>Надстрочные и&nbsp;подстрочные индексы</h3>
            <p>Важно следить за&nbsp;тем, чтобы элементы надстрочных и&nbsp;подстрочных
                индексов не&nbsp;увеличивали высоту строки, потому что это
                портит вид
                текстового блока. Пример: 2<sup>3</sup>. Еще пример:
                H<sub>2</sub>SO<sub>4</sub>. В&nbsp;обоих случаях высота строки
                от&nbsp;индексов
                не&nbsp;должна меняться. Если отступ между первой и&nbsp;второй
                строками
                увеличился, значит, что-то сделано неправильно.</p>
        </div>
    </div>


    <div class="stylesheet__text">
        <div class="container">
            <h2>Оформление текста</h2>
            <p>Наиболее простыми способами выделения информации являются
                <strong>полужирное</strong>
                и&nbsp;<em>курсивное</em> начертания. Подробнее: <a
                        class="external"
                        href="http://www.artlebedev.ru/kovodstvo/sections/79/">
                    §&nbsp;79. Делать фонт болдом или италиком?

                </a></p>
            <h3>Комментарий</h3>
            <div class="comment">
                <p>Элемент «Комментарий» (класс <code>.comment</code>)
                    применяется к&nbsp;пояснительному тексту. <em>И&nbsp;еще
                        немного
                        специально написанного текста, чтобы получилось
                        несколько строк для
                        наглядности.</em></p>
            </div>
            <div class="important">
                <h3>Важно</h3>
                <p>Элемент «Важно». (класс <code>.important</code>), который
                    используется для выделения особо важной информации. <em>И&nbsp;еще
                        немного специально написанного текста, чтобы получилось
                        несколько
                        строк для наглядности.</em></p>
            </div>
        </div>
    </div>


    <div class="stylesheet__addresses">
        <div class="container">
            <h3>Адреса</h3>
            <p>Это пример контента, который может придти с бекенда и он должен
                выглядеть не хуже чем сверстанная по макетам страница. И должна
                соблюдаться теория близости.</p>
            <div>
                <h5>Центральная типография в&nbsp;Москве</h5>
                <p>Метро Маяковская</p>
                <p>123001, Москва, ул. Большая Садовая, д. 5</p>
                <p><span class="highlighted">Телефон службы поддержки</span>
                    <br>
                    <span class="highlighted">изменился: +7 498 123-43-21</span>
                </p>
                <p><a href="http://#" class="">Как добраться</a></p>
            </div>
            <div>
                <h5>Киевский офис компании Яндекс</h5>
                <p>ООО Яндекс,
                    ул. Богдана Хмельницкого, 7
                    Киев, 01004
                    Украина
                </p>
                <p><a href="http://#">Как добраться</a></p>
            </div>
            <div>
                <h5>Нью-Йоркский офис</h5>
                <p>Art. Lebedev Studio,
                    125 Maiden Lane,
                    Suite 15D,
                    New York, NY, 10038,
                    USA
                </p>
            </div>

            <p>Блок с&nbsp;адресом должен оформляться в&nbsp;соответствии
                с&nbsp;общепринятым стандартом. Подробнее: <a class="external"
                                                              href="http://www.artlebedev.ru/kovodstvo/sections/163/">
                    §&nbsp;163. Правила написания почтовых адресов

                </a>.
            </p>
            <p>Также надо следить за&nbsp;форматом телефонных номеров. Он&nbsp;должен
                быть единым для всего сайта, при этом следует избегать
                неоправданного
                использования скобок&nbsp;— в&nbsp;них помещается часть номера,
                которую
                в&nbsp;определенных ситуациях набирать необязательно. Кстати,
                код 495&nbsp;в
                Москве в&nbsp;ближайшее время станет обязательным для набора.
                Правильно:8&nbsp;495 926-18-00
                или
                +7 495 926-18-00.
                Неправильно:+7
                (495) 926-18-00
                или&nbsp;8 (495) 926-18-00.
            </p>
        </div>
    </div>
    <div class="stylesheet__blockquote">
        <div class="container">
            <h3>Цитаты</h3>
            <p>Используйте элемент «Комментарий» внутри цитаты для выделения
                информации об&nbsp;источнике.</p>
            <blockquote>
                <div class="blockquote">
                    <div class="lead"><p>Простота&nbsp;— необходимое условие
                        прекрасного.</p>
                        <p>Цитата не&nbsp;есть выписка. Цитата есть цикада.
                            Неумолкаемость
                            ей&nbsp;свойственна. Вцепившись в&nbsp;воздух, она
                            его не&nbsp;отпускает.</p>
                    </div>
                </div>
                <div class="comment">
                    <p>Л.&nbsp;Н.&nbsp;Толстой. Из&nbsp;письма к&nbsp;Л.&nbsp;Андрееву
                        от&nbsp;02.09.1902</p>
                </div>
            </blockquote>

            <blockquote><img
                    width="128" height="126"
                    src="https://picsum.photos/128/128"
                    alt="">
                <div class="blockquote">
                    <div class="lead"><p>Просто не бывает!</p>
                        <p>В данном кейсе у нас цитата с картинкой</p>
                    </div>
                </div>
                <div class="comment">
                    <p>Л.&nbsp;Н.&nbsp;Толстой. Из&nbsp;письма к&nbsp;Л.&nbsp;Андрееву
                        от&nbsp;02.09.1902</p>
                </div>
            </blockquote>
        </div>
    </div>


    <div class="stylesheet__pictures">
        <div class="container">
            <h2>Картинки</h2>
            <div class="picture">
                <p><img alt="" width="600" height="400"
                        src="https://picsum.photos/600/400"></p>
                <p>Небольшие изображения декоративно обрезаются
                    снизу</p>
            </div>
            <p>Для картинки которая приходит с сервера, обычно предусмотрен один
                вариант отображения.</p>
            <p>В рамках макетов использование картинок может подчиняться
                определенному
                дизайн коду. Поэтому для картинок часто используют класс
                <code>.picture</code> с модификациями выравнивания, подписями и
                т.п.</p>
        </div>
    </div>

    <div class="stylesheet__pictures">
        <div class="container">

            <div class="clear_img"><img alt="" width="960" height="196"
                                        src="https://picsum.photos/960/196">
            </div>
        </div>
    </div>
    <div class="stylesheet__forms">
        <div class="container">
            <h2>Формы</h2>
            <div>
                <h3>Форма отправки какого-либо сообщения</h3>

                <form>
                    <dl>
                        <dt>Имя поля ввода</dt>
                        <dd>
                            <input type="text" name="name">
                            <div>Комментарий
                                текстовому полю ввода
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Длинное имя поля ввода</dt>
                        <dd>
                            <input type="text" name="longname">
                        </dd>
                    </dl>
                    <dl>
                        <dt>Эл. почта</dt>
                        <dd>
                            <input type="text" name="mail">
                            <div class="dander" for="mail"></div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Текстовое поле</dt>
                        <dd>
                            <textarea name="text"></textarea>
                        </dd>
                    </dl>
                    <dl>
                        <dd>
                            <table class="data form_block_sub_tab">
                                <tbody>
                                <tr>
                                    <td class="p0">
                                        <button type="submit" class="submit">
                                            Действие
                                        </button>
                                    </td>
                                    <td class="p1">
                                        <div
                                                class="form_block_suggest">
                                            Осталось заполнить:
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </dd>
                    </dl>


                </form>
            </div>
        </div>
    </div>

    <div class="stylesheet__table">
        <div class="container">
            <h2>Таблицы</h2>
            <h6>Таблица с&nbsp;заголовочными ячейками, расположенными
                горизонтально</h6>
            <table class="data" border="1">
                <tbody>
                <tr>
                    <th class="p0 b_b">Заголовочная ячейка</th>
                    <th class="p1 b_b">Заголовочная ячейка</th>
                    <th class="p2 b_b">Заголовочная ячейка</th>
                    <th class="p3 b_b">Заголовочная ячейка</th>
                    <th class="p4 b_b">Заголовочная ячейка</th>
                    <th class="p5 b_b">Заголовочная ячейка</th>
                </tr>
                <tr class="o">
                    <td class="p0 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p1 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p2 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p3 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p4 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p5 b_g">Ячейка с&nbsp;информацией</td>
                </tr>
                <tr>
                    <td class="p0">Ячейка с&nbsp;информацией</td>
                    <td class="p1">Ячейка с&nbsp;информацией</td>
                    <td class="p2">Ячейка с&nbsp;информацией</td>
                    <td class="p3">Ячейка с&nbsp;информацией</td>
                    <td class="p4">Ячейка с&nbsp;информацией</td>
                    <td class="p5">Ячейка с&nbsp;информацией</td>
                </tr>
                <tr class="o">
                    <td class="p0 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p1 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p2 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p3 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p4 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p5 b_g">Ячейка с&nbsp;информацией</td>
                </tr>
                </tbody>
            </table>
            <h6>Таблица с&nbsp;заголовочными ячейками, расположенными
                вертикально</h6>
            <table class="data" border="1">
                <tbody>
                <tr class="o">
                    <th class="p0 b_r">Заголовочная ячейка</th>
                    <td class="p1 b_g">Ячейка с&nbsp;информацией</td>
                    <td colspan="2" class="p2 b_b b_r a_c">Ячейка с&nbsp;информацией</td>
                    <td rowspan="3" class="p3 a_m b_r">Ячейка
                        с&nbsp;информацией
                    </td>
                    <td class="p4 b_g">Ячейка с&nbsp;информацией</td>
                </tr>
                <tr>
                    <th class="p0 b_r">Заголовочная ячейка</th>
                    <td class="p1 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p2">Ячейка с&nbsp;информацией</td>
                    <td class="p3 b_r b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p4 b_g">Ячейка с&nbsp;информацией</td>
                </tr>
                <tr class="o">
                    <th class="p0 b_r">Заголовочная ячейка</th>
                    <td class="p1 b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p2">Ячейка с&nbsp;информацией</td>
                    <td class="p3 b_r b_g">Ячейка с&nbsp;информацией</td>
                    <td class="p4 b_g">Ячейка с&nbsp;информацией</td>
                </tr>
                </tbody>
            </table>
            <p> В&nbsp;последней таблице дополнительно
                продемонстрировано оформление объединенных ячеек.</p></div>
    </div>


    <div class="stylesheet__files">
        <div class="container">
            <h2>Файлы для скачивания</h2>
            <p>В&nbsp;именах файлов, предназначенных для публикации на&nbsp;сайте,
                желательно использовать только латинские буквы, цифры, символ
                подчеркивания, дефис и&nbsp;точку.</p>
            <p><span class="file DOC"><i></i><a href="/f/1/example/document.doc"
                                                target="_blank">Документ MS&nbsp;Office</a>DOC, 9&nbsp;КБ</span>
            </p>
            <p><span class="file XLS"><i></i><a href="/f/1/example/document.xls"
                                                target="_blank">Таблица MS&nbsp;Office</a>XLS, 6,5&nbsp;КБ</span>
            </p>
            <p><span class="file PPT"><i></i><a href="/f/1/example/document.ppt"
                                                target="_blank">Презентация MS&nbsp;Office</a>PPT, 69&nbsp;КБ</span>
            </p>
            <p><span class="file PDF"><i></i><a href="/f/1/example/document.pdf"
                                                target="_blank">Документ Adobe Acrobat</a>PDF, 7,4&nbsp;КБ</span>
            </p>
            <p><span class="file ZIP"><i></i><a href="/f/1/example/document.zip"
                                                target="_blank">Файл архив</a>ZIP, 1,5&nbsp;КБ</span>
            </p>
            <p><span class="file TIF"><i></i><a
                    href="/f/1/example/pic_370x370.tif" target="_blank">TIF документ</a>TIF, 427,3&nbsp;КБ</span>
            </p>
        </div>
    </div>

</div>

<router-outlet></router-outlet>

<ui-dev-grid></ui-dev-grid>
