@import 'const';
@import 'container';
@import 'mixins/elements/icon-logo';

.logo {
  margin-bottom: $padding * 2;
  text-align: center;

  .icon-logo {
    @include icon-logo(90px);
    margin: $padding * 2 auto;

    text-align: center;
  }

  h3 {
    font-size: $font-size-big;
    margin: 0;
    padding: 0;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: bold;
}

.container {
  @include container();

  .blockquote {
    position: relative;

    &::before {
      background: #000;
      content: '';
      display: block;
      height: 100%;
      left: -10px;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }

  a {
    color: $color_waves_blue;
    text-decoration: none;
  }
}
