
<div class="container">
  <div class="container__left">
    <button class="container__left__back-btn" (click)="goBack()">
      <img src="assets/icons/arr-left.svg">Back
    </button>
  </div>
  <div class="container__mid">
    <div class="logo">
      <div class="icon-logo"></div>
      <h3>Waves grant</h3>
      <a href="https://github.com/rieset/waves-grants">GitHub</a>
    </div>

    <p>Dear user, our team is pleased to welcome you to the revolutionary Waves Grant service. We put all our efforts into creating a safe, fast and anonymous environment in which ideas can be brought to life and earned.</p>

    <p class="title">How to use the service?</p>

    <p>The waves grant service is friendly to new users and very easy to understand. On the main page there is a list of grants that are currently relevant. By going into each grat, you can see information on this grant and the development teams that want to complete it. If you feel strong enough to implement the grant, then you can also apply for a grant. Upon completion, if you are selected and you successfully complete the work, the service will pay a reward to your account.</p>
  </div>
  <div class="container__right">
  </div>
</div>
