@import 'const';
@import 'container';
@import 'mixins/elements/icon-logo';

.logo {
  margin-bottom: $padding * 2;
  text-align: center;

  .icon-logo {
    @include icon-logo(90px);
    margin: $padding * 1 auto;
    text-align: center;
  }
}

.container {
  @include container();

  .blockquote {
    position: relative;

    &::before {
      background: #000;
      content: '';
      display: block;
      height: 100%;
      left: -10px;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}
.about__markdown {
  align-items: center;
  display: flex;
  flex-direction: column;



  .mat-typography {
    font-weight: unset;
  }

  ::ng-deep markdown {

    ul {
      margin-bottom: 0;

      li {
        margin-bottom: 12px;

        p .mat-body .mat-body-1 .mat-typography {
          margin-bottom: 0;
        }

        g-emoji {
          display: none;
          appearance: none;
        }

      }

      .mat-body .mat-body-1 .mat-typography h3 {
        font-size: $font_size_h3 !important;
        font-weight: 700;
        color: $color_waves_blue;
        font-style: italic;
      }
    }

    h2 {
      font-size: $font_size_h3 !important;
      font-weight: 700 !important;

    }

    h3 {
      font-size: $font_size_h4 !important;
      font-weight: 700;
    }
  }
  //  align-items: center;
  //  display: flex;
  //  flex-direction: column;
  //
  //    ul {
  //      list-style: none;
  //      li {
  //        h2 {
  //          g-emoji {
  //            display: none;
  //          }
  //        }
  //      }
  //    }
  //
  //}
}
