<ng-template #web3Btn>

  <button class="marginTB" (click)="initTaskVoting()" *ngIf="isInitTaskVotingtBtn$ | async">
    {{ 'modal.btn.init_task_voting' | transloco }}
  </button>

  <button class="marginTB" (click)="finishVote()" *ngIf="isFinishVoteBtn$ | async">
    {{'entity.finish_vote' | transloco}}
  </button>

  <button (click)="acceptWorkResult()" class="marginTB" *ngIf="isAcceptWorkResultBtn$ | async">
    {{'entity.accept_work_result' | transloco}}
  </button>

  <button class="marginTB" *ngIf="isRejectBtn$ | async" (click)="reject()">
    {{'entity.reject' | transloco}}
  </button>

</ng-template>

<ng-template #headerControlsTemplate>

  <button class="active" (click)="addReward()" *ngIf="isShowAddRewardBtn$ | async">
    <span *ngIf="!grant?.reward?.value; else hasReward">{{'entity.add_reward' | transloco}}</span>
    <ng-template #hasReward>{{'entity.edit_task_details' | transloco}}</ng-template>
  </button>

  <button class="active" (click)="startWork()" *ngIf="isStartWorkBtn$ | async">
    {{'entity.start_work' | transloco}}
  </button>

</ng-template>

<ng-template #voteForTask>
  <ui-vote-for-task
    *ngIf="voteForTaskData.isShow"
    [isVote]="voteForTaskData.isVote"
    (newVoteEvent)="vote($event)"
  ></ui-vote-for-task>
</ng-template>

<ng-template #stepper>
  <ui-stepper [setType]="'web3'" [status]="grant?.status?.value"></ui-stepper>
</ng-template>

<ui-entity
  [contract]="contract"
  [grant]="grant"
  (newFinishVoteEvent)="finishVote()"
  (newStartWorkEvent)="startWork()"
  (newRejectEvent)="reject()"
  (newAcceptWorkResultEvent)="acceptWorkResult()"
  (newFinishApplicantsVoteEvent)="finishApplicantsVote()"
  (newAddRewardEvent)="addReward()"
  [controlsTemplate]="web3Btn"
  [headerControlsTemplate]="headerControlsTemplate"
  [voteForTaskTemplate]="voteForTask"
  [stepperTemplate]="stepper"
></ui-entity>

