<ng-template #web3Btn>
  <button (click)="addTaskDetails()" *ngIf="!grant?.status">
    {{ 'modal.btn.add_task_details' | transloco }}
  </button>
  <button (click)="initTaskVoting()" *ngIf="!grant?.status && userService.data.getValue().roles.isWG">
    {{ 'modal.btn.init_task_voting' | transloco }}
  </button>
</ng-template>

<ng-template #voteForTask>
  <ui-vote-for-task
    [grant]="grant"
    (newVoteEvent)="vote($event)"
  ></ui-vote-for-task>
</ng-template>

<ui-entity
  [contract]="contract"
  [grant]="grant"
  (newFinishVoteEvent)="finishVote()"
  (newStartWorkEvent)="startWork()"
  (newRejectEvent)="reject()"
  (newAcceptWorkResultEvent)="acceptWorkResult($event)"
  (newFinishApplicantsVoteEvent)="finishApplicantsVote()"
  (newAddRewardEvent)="addReward()"
  [controlsTemplate]="web3Btn"
  [voteForTaskTemplate]="voteForTask"
></ui-entity>
