@import 'const';
@import 'container';

.container {
  @include container();
}

.all-teams {
  &__title {
    padding-bottom: $padding * 2;
    margin-bottom: $padding * 2;
    border-bottom: 1px solid $color_light_gray;
  }
}
