<div class="container all-teams">
  <div class="container__left">
    <button class="container__left__back-btn" (click)="goBack()">
      <img alt="back" src="assets/icons/arr-left.svg">{{'container.back' | transloco}}
    </button>
  </div>
  <div class="container__mid">
    <div class="all-teams__title mat-h3">
      {{ 'all_teams.title' | transloco }}
      <a [routerLink]="['/', 'grants', (grantUrl$ | async)?.contractType, (grantUrl$ | async)?.entityId]">
        {{title$ | async}}
      </a>
    </div>
    <ui-score-list
      [list]="t$ | async"
    ></ui-score-list>
  </div>
  <div class="container__right">
  </div>
</div>
