<div class="listing-page__intro">
    <img alt="promo" [attr.src]="contract?.img" width="100%" height="auto"/>

    <div class="listing-page__banner mat-display-4">
        {{ contract?.banner }}
    </div>
</div>
<div class="listing-page__header">
    <h2 class="listing-page__title">{{ contract?.title }}</h2>

    <div class="listing-page__controls">
        <button
                class="active"
                *ngIf="contract?.permissionCreateGrant"
                routerLinkActive="active"
                (click)="onProposeGrant()"
        >
            {{ 'app.controls.proposeGrant' | transloco }}
        </button>
    </div>
</div>
<div class="listing-page__address mat-display-1">
    <a class="a a--alt" [attr.href]="api?.explorer + contract?.type | linkHttp" target="_blank" rel="noopener nofollow noreferrer">
        {{ contract?.type }}
    </a>
</div>

<div class="listing-page__description">
    <div>
        {{ contract?.desc }}
    </div>
    <div class="listing-page__about" *ngIf="contract?.name as contractName">
        <a [routerLink]="['/', 'grants', contractName, 'about']">
            {{ 'listing.more' | transloco }}
        </a>
    </div>
</div>

<ui-listing [contract]="contract"></ui-listing>
