/* stylelint-disable */
button {
  background: none;
  border: 1px solid $color_light_gray;
  color: $color_black;
  cursor: pointer;
  font-size: $font_size_h4;
  outline: none;
  //padding: 3px $padding * 2 0;
  padding: 0 $padding * 2;
  display: flex;
  min-height: $padding * 3;
  line-height: 1;
  align-items: center;
  text-transform: uppercase;
  transition: 0.3s;

  &:disabled {
    background: $blue;
    border: 1px solid $blue;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    filter: grayscale(0.8);
    opacity: 0.3 !important;
  }

  /*img {
    padding-left: $padding;
  }*/

  &:hover {
    border: 1px solid $color_waves_blue;

    img {
      transform: translate(2px, 0);
    }
  }
}

button.active {
  background: $color_waves_blue;
  border: 1px solid $color_waves_blue;
  color: #fff;

  &:hover {
    background: $color_black;
    border: 1px solid $color_black;
  }
}
