$gray-light: #e7e7eb;
$gray: #aaa;
$gray-dark: #717781;
$blue: #05f;

$padding: 14px;

$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-big: 28px;



$color_black: #292c30;
$color_dark_gray: #717781;
$color_light_gray: #e7e7eb;
$color_gray: #c6c9cd;
$color_white: #fff;
$color_waves_blue: #05f;
$color_error: #ff3d19;
$color_warning: #ffb000;
$color_success: #14c77a;

$font_size_h1: 48px;
$font_size_h2: 32px;
$font_size_h3: 26px;
$font_size_h34: 22px;
$font_size_h4: 14px;
$font_size_h5: 12px;

