// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Modifiers mixins
// Pass  $app-theme and $app-config
@import 'mixins';

// Css variables
@import 'variables';

// Fonts
@import 'fonts';

//// Elements
//@import 'mixins/elements';

// IMPORTANT
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($app-config);

// IMPORTANT
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme-light);

//html,
//body {}
html,
body {
  background: rgba(var(--body-bg), 1);
  color: rgba(var(--body-color), 0.9);
  font-family: $font-family-base;
  //font-size: var(--layout-font-size);
  font-size: $font_size_h4;
  height: 100%;
  margin: 0;

  h1 {
    font-size: $font_size_h1;
  }

  h2 {
    font-size: $font_size_h2;
  }

  h3 {
    font-size: $font_size_h3;
  }

  h3 {
    font-size: $font_size_h3;
  }

  h4 {
    font-size: $font_size_h4;
  }

  h5 {
    font-size: $font_size_h5;
  }
}

// Global components
@import 'layout';
@import 'container';
@import 'ngx-progressbar/ngx-progressbar';
@import 'markdown';

