.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    margin: $padding * 5;
  }

  &__content {
    flex: 1 1 auto;
  }
  //
  //&__footer {}
}

.grid {
  &__container {
    display: flex;

    &__col {
      flex: 1;
    }
  }

}
