markdown {

  g-emoji {
    display: none;
    appearance: none;
  }

  ul, ol {
    margin-left: -1.8rem;
    empty-cells: hide;
  }

  ol {
    li::marker {
      color: $color_waves_blue;
      font-weight: bold;
    }
    li {
      margin-bottom: 1rem;
    }
  }

  ul {
    list-style-image: url("../assets/icons/waves-square.svg");
    margin-top: 0;
    margin-bottom: 0 !important;
    //:nth-child(odd) {
    //  margin-bottom: 0;
    //}
    //:nth-child(even) {
    //  margin-bottom: 15px;
    //}

    li::ng-deep ul::marker {
      list-style: square !important;
    }

    li::marker {
      width: auto;
      height: auto;

      ::ng-deep li::marker {
        list-style: square !important;
      }
    }

    li {
      margin-top: 0;

      p {
        margin-bottom: 0;
      }
    }
  }
  h1 {
    font-size: $font_size_h2 !important;
    max-width: 100%;
    width: auto;
    border-bottom: 2px solid rgba(0, 85, 255, 0.6);
    padding-bottom: 8px;
    .g-emoji {
      display: none !important;
      appearance: none !important;
    }
  }

  g-emoji {
    display: none;
    appearance: none;
  }

  h2 {
    font-size: $font_size_h3 !important;
    font-weight: 500 !important;
    width: auto;
    border-bottom: 1px solid $color_dark_gray;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 8px;
    .g-emoji {
      display: none !important;
      appearance: none !important;
    }
  }

  h3 {
    font-size: $font_size_h34 !important;
    font-weight: 500 !important;
    //margin-top: 2rem !important;
    padding-top: 16px;
  }

  h6 {
    font-size: $font_size_h4 !important;
    font-weight: 600 !important;
    margin: 0 !important;
    padding-top: 8px;
  }

  h4 {
    font-size: $font_size_h5 !important;
  }

  code {
    display: block;
    max-width: 100%;
    overflow-x: scroll;
    width: 100%;
  }

  img {
    max-width: 100%;
    padding: 1rem 0;
  }
}
