<ui-entity
  (newVoteEvent)="vote($event)"
  [contract]="contract" [grant]="grant"
  (newSignupEvent)="signup()"
  (newOpenApplyModalEvent)="openApplyModal()"
  (newVoteTeamEvent)="voteTeam($event)"
  (newFinishVoteEvent)="finishVote()"
  (newStartWorkEvent)="startWork()"
  (newRejectEvent)="reject()"
  (newAcceptWorkResultEvent)="acceptWorkResult($event)"
  (newFinishApplicantsVoteEvent)="finishApplicantsVote()"
  (newAddRewardEvent)="addReward()"
  (newEditGrantEvent)="editGrant()"
></ui-entity>
