@import 'const';
@import 'container';
@import 'variables';
@import '~include-media/dist/_include-media.scss';
@import 'mixins';
@import 'mixins/elements/text-title';
@import 'mixins/typography';

.container {
  @include container();
}

.bg-gray {
  background-color: rgba(231, 231, 235, 0.55); //$color_light_gray with opacity 55%
  background-size: 100% 100%;
}

.btn {
  img {
    margin-left: $padding / 2;
  }
}

.landing-page {
  &__title {
    //font-size: 6.5vh;
    font-size: $font_size_h1;
    font-weight: 700;
    letter-spacing: -1%;
    line-height: 1.5;
    padding-bottom: $padding;
    padding-top: 6.5rem;
    text-align: center;

    @include media('<tablet') {
      //font-size: 6.5vh;
      font-size: $font_size_h2;
      font-weight: 600;
      padding-top: 0;
    }

    @include media('<desktop') {
      padding-top: $padding * 3;
    }
  }

  &__intro {
    color: $color_dark_gray;
    margin: $padding * 2 auto;
    max-width: 45em; //720px;
    padding-bottom: $padding * 2;

    &-title {
      color: $color_black;
      font-size: $font_size_h1;
      font-weight: 700;
      letter-spacing: -1%;
      line-height: 1.5;
      padding-bottom: $padding;
      padding-top: 6.5rem;
      text-align: left;

      @include media('<tablet') {
        //font-size: 6.5vh;
        font-size: $font_size_h2;
        font-weight: 600;
      }

      @include media('<desktop') {
        padding-top: 0;
      }
    }

    button {
      margin-bottom: $padding * 2;
      margin-top: $padding * 2;
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__tiles {
    display: flex;
    justify-content: center;
    margin: $padding * 2 auto;

    @include media('<phone') {
      align-items: center;
      flex-direction: column;
    }
  }

  &__howTo {
    padding-bottom: $padding * 4;

    @include media('<tablet') {
      margin: auto;

      padding-top: $padding * 3;

      &-pair {
        padding: 0 $padding;

        &-icon {
          width: 80px;
        }
      }
    }

    &-pair {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: 150px;
      padding: 0 $padding * 2;
      text-align: center;

      &-icon {
        height: auto;
        padding-bottom: $padding;
        width: 100px;
      }
    }
  }

  &__roles {
    padding-bottom: $padding * 3;
    @include media('<=tablet') {
      flex-direction: column;
      justify-content: flex-start;
    }

    &-cards {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;

      @include media('<=phone') {
        align-items: center;
        display: flex;
        flex-direction: column;
        grid-template: unset;
        justify-content: center;
      }

      &-card {
        background-color: $color_white;
        background-size: 499px 416px;
        border: 2px solid $color_white;
        display: flex;
        flex-direction: column;
        margin: $padding * 2;
        max-width: 50vw;
        overflow: hidden;
        text-decoration: none;
        transition: 0.3s;
        
        @include media('<=phone') {
          margin-top: $padding;
          max-width: unset;
        }

        //padding: $padding * 2;

        &:hover {
          box-shadow: 0 16px 40px rgba(41, 44, 48, 0.12); //gray shadow but not visible on gray bg: rgba(41, 44, 48, 0.12);
          transform: translate(0, -1px);
        }

        &-img {
          height: 40px;
          margin-right: $padding;
          width: 40px;
        }

        &-title {
          margin-bottom: 0;
        }

        &-desc {
          background-color: #f8f9fa;
          height: 100%;
          margin-bottom: 0;
          padding: $padding * 2;
        }

        &-button {
          margin: $padding * 2;
          padding: $padding;
          width: fit-content;
        }
      }
    }
  }

  &__whyDAO {
    display: flex;
    flex-direction: column;

    &-cards {
      display: flex;
      justify-content: center;
      @include media('<=tablet') {
        align-items: center;
        flex-direction: column;
      }

      &-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: $padding * 2;
        text-align: start;
        width: 300px;
        @include media('<=phone') {
          width: 100%;
        }

        @include media('<=tablet') {
          margin-right: unset;
          width: 70%;
        }

        &-title {
          align-items: center;
          display: flex;
          height: $padding * 5;
          justify-content: center;
          letter-spacing: 0.1pt;
          line-height: 1.2;
          margin-bottom: 0;
          margin-top: $padding;
          text-align: center;
        }

        &-desc {
          border-top: 11px solid $color_waves_blue;
          margin-top: $padding * 1.5;
          padding-top: $padding;
        }
      }
    }
  }

  &__grants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: $padding * 2 auto;

    @include media('<=phone') {
      align-items: center;
    }

    &-cards {
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: $padding * 3.5;
      padding: $padding * 2.5 $padding * 3 $padding * 3;
      text-align: start;

      @include media('<tablet') {
        margin-bottom: $padding;
      }

      &:hover {
        box-shadow: 0 16px 40px rgba(41, 44, 48, 0.12);
        transform: translate(0, -1px);
      }

      //@include media('<tablet') {
      //  flex-direction: column;
      //  align-items: center;
      //  //:nth-child(2){
      //  //  flex-direction: column-reverse;
      //  //}
      //}

      &-card {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: $padding * 6;
        width: 500px;

        @include media('>phone', '<tablet') {
          justify-content: center;
          margin-top: $padding;
          max-width: 300px;
        }

        @include media('>=tablet', '<desktop') {
          width: 400px;
        }

        &-title {
          margin-bottom: 25px;
        }

        &-desc {
          margin-bottom: 25px;
        }
        //&-button {
        //
        //}
        &-image {
          width: 500px;

          @include media('<tablet') {
            width: 300px;
          }

          @include media('>=tablet', '<desktop') {
            width: 400px;
          }

          @include media('<=phone') {
            display: none;
          }
        }
      }
    }
  }

  &__workflow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $padding * 2 auto;
    padding: $padding * 3 auto;

    &-image {
      margin-bottom: $padding * 3;
      
      @include media('<desktop') {
        margin-bottom: 0;
        width: 100%;
      }
    }

    &-tabs {
      ::ng-deep .mat-tab {
        &-group {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }

        &-labels {
          border-bottom: 1px solid $color_waves_blue;
        }

        &-label-active {
          background-color: $color_white;
          border-left: 1px solid $color_waves_blue;
          border-right: 1px solid $color_waves_blue;
          border-top: 1px solid $color_waves_blue;
          color: $color_waves_blue;
        }
      }
    }
  }

  &__fullGuide {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: $padding * 2 $padding * 2 0 $padding * 2;
}

