@import 'const';
@import 'container';

.container {
  @include container();
}

.sub-title {
  margin: $padding * 2 auto auto auto;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: $padding * 3;
}

.members-page {
  &__header {
    align-items: center;
    display: flex;
  }

  &__title {
    flex: 1 1 auto;
  }

  ul {
    margin-top: 12px;
  }

}
