<div class="container">
  <div class="container__left">
    <button class="container__left__back-btn" (click)="goBack()">
      <img alt="back" src="assets/icons/arr-left.svg">{{'container.back' | transloco}}
    </button>
  </div>
  <div class="container__mid" *ngIf="user$ | async as user">

    <div class="mat-h1">{{'members.members' | transloco}}</div>
    <ui-user-contacts *ngIf="api?.workingGroup[user.masterAddress] as user" [user]="user"></ui-user-contacts>

    <div class="sub-title mat-display-4">{{'members.owner' | transloco}}</div>
    <ul>
      <li>
        <div>{{user.owner}}</div>
        <ui-user-contacts *ngIf="api?.workingGroup[user.owner] as user" [user]="user"></ui-user-contacts>
      </li>
    </ul>

    <div class="sub-title mat-display-4">{{'members.wg' | transloco}}</div>
    <ul>
      <li *ngFor="let wg of user.WorkGroupAddress">
        <div>{{wg}}</div>
        <ui-user-contacts *ngIf="api?.workingGroup[wg] as user" [user]="user"></ui-user-contacts>
      </li>
    </ul>
    <div class="sub-title mat-display-4">{{'members.dao' | transloco}}</div>
    <ul>
      <li *ngFor="let dao of user.DAOMemberAddress">
        <div>{{dao}}</div>
        <ui-user-contacts *ngIf="api?.workingGroup[dao] as user" [user]="user"></ui-user-contacts>
      </li>
    </ul>

    <div class="controls">
      <button *ngIf="userService.data.getValue().roles.isOwner" [routerLink]="['/', 'grants', staticService.selectedContact, 'settings']">
        {{ 'app.controls.setting' | transloco }}
      </button>
    </div>

  </div>
  <div class="container__right">
  </div>
</div>
