
<div class="container">
  <div class="container__left">
    <button class="container__left__back-btn" (click)="goBack()">
      <img src="assets/icons/arr-left.svg">Back
    </button>
  </div>
  <div class="container__mid">
      Master:
      <ul>
        <li>{{userService.data.getValue().masterAddress}}</li>
      </ul>
    WG:
    <ul>
      <li *ngFor="let wg of userService.data.getValue().WorkGroupAddress">{{wg}}</li>
    </ul>
    DAO:
    <ul>
      <li *ngFor="let dao of userService.data.getValue().DAOMemberAddress">{{dao}}</li>
    </ul>
  </div>
  <div class="container__right">
  </div>
</div>
