@import 'const';
@import 'container';
@import 'mixins/elements/btn';

.container {
  @include container();
}

.sub-title {
  margin: $padding * 3 auto $padding auto;
  display: flex;
  item-align: center;
  img {
    margin-right: $padding;
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: $padding * 3;
}

.members-page {
  &__header {
    align-items: center;
    display: flex;
  }

  &__title {
    flex: 1 1 auto;
  }

  ul {
    margin-top: 12px;
  }

  &__contract-block {
    border: 1px solid $color_light_gray;
    padding: $padding * 1.5 $padding * 2
  }

  &__add-btn {
    @include btn-prime-white();
  }

}
