@import '~include-media/dist/_include-media.scss';

@mixin container {
  display: flex;


  @include media('<=tablet') {
    flex-direction: column;

    &__left {
      margin-bottom: $padding * 4;
    }
  }

  &__mid {
    flex: 4.5;
  }

  &__left,
  &__right {
    flex: 1;
    //padding-left: $padding;
  }

  &__left {
    &__back-btn {
      background: transparent;
      border: 0;
      color: $color_black;
      cursor: pointer;
      font-size: $font_size_h4;
      font-weight: 100;
      outline: none;

      img {
        margin-right: $padding;
      }
    }
  }

}

