//$gray-light: #e7e7eb;
//$gray: #aaa;
//$gray-dark: #717781;
//$blue: #05f;
//
//$padding: 14px;
//
//$font-size-small: 12px;
//$font-size-medium: 16px;
//$font-size-large: 20px;
//$font-size-big: 28px;
@import '../const';
@import 'elements/btn-container';

$dot-list-li-size: 16px;

.dot-list {
  margin-bottom: $padding;
  padding: 0;

  .title {
    font-weight: bold;
    padding-bottom: $padding / 2;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  ul::before {
    background: #c0d7fb;
    content: '';
    height: calc(100% - 5px);
    left: ($dot-list-li-size / 2) - 0.5;
    position: absolute;
    top: 2px;
    width: 1px;
  }

  li {
    padding-left: $padding * 2;
    position: relative;
  }

  li::before {
    background: #6d9dd6;
    border-radius: 50%;
    content: '';
    display: inline-block;
    left: 0;
    max-height: $dot-list-li-size;
    max-width: $dot-list-li-size;
    min-height: $dot-list-li-size;
    min-width: $dot-list-li-size;
    position: absolute;
    top: 2px;
    vertical-align: middle;

  }
}

@mixin br($x: 1) {
  display: block;
  width: 100%;
  //background: red;
  //outline: 1px solid #0055ff;
  @if ($x == 1) {
    height: $padding / 3;
  } @else if ($x == 2) {
    height: $padding / 2;
  } @else if ($x == 3) {
    height: $padding;
  }
}

@mixin icon-arrow($direction: down, $color: #000) {
  border: solid $color;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.2s;
  @if $direction == up {
    transform: rotate(-135deg);
  } @else if $direction == right {
    transform: rotate(-45deg);
  } @else if $direction == down {
    transform: rotate(45deg);
  } @else if $direction == left {
    transform: rotate(135deg);
  }
}

@import 'elements/icon-logo';

.text-bold {
  font-weight: bold;
}


@import 'elements/text-title';
@import 'elements/form';




.br1 {
  @include br(1);
}

.br2 {
  @include br(2);
}

.br3 {
  @include br(3);
}

.a-router-link {
  color: $blue;
  font-size: $font-size-medium;
  text-decoration: none;
}

.card {
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: $padding;
  margin-top: 0;
  text-decoration: none;

  > :not(:last-child) {
    margin-bottom: $padding;
  }

  &__info {
    align-items: center;
    border: 1px solid $gray-light;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: $padding;

    &__right {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: flex-end;

      img {
        cursor: pointer;
        height: 32px;
        margin-left: $padding / 2;
        opacity: 0.5;
        transition: 0.3s;
        width: 32px;

        &:hover {
          opacity: 1;
        }
      }
    }

    &__left {
      display: flex;
      justify-content: center;
    }

    &__mid {
      align-items: center;
      padding-left: $padding;

      &__subtext {
        color: $gray;
        font-size: $font-size-small;
      }

      &__text {
        color: $blue;
        cursor: pointer;
        font-size: $font-size-medium;
        font-weight: bold;
      }
    }
  }

  &__header {
    border: 1px solid $gray-light;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: $padding;

    &__left-block {
      flex: 1;
      flex-direction: column;

      &__title {
        color: #000;
        cursor: pointer;
        font-size: $font-size-medium;
        font-weight: bold;
      }

      &__status {
        color: $gray;
        display: flex;
        font-size: $font-size-small;

        &__role-text {
          color: $blue;
          font-style: italic;
          margin-left: $padding;
        }
      }
    }

    .card__header__right-block {
      flex-direction: column;
      text-align: right;

      &__text {
        color: $gray;
        font-size: $font-size-small;
      }

      &__price {
        color: #000;
        display: flex;
        font-size: $font-size-medium;
        font-weight: bold;

        .icon-logo {
          @include icon-logo;
          margin-left: 5px;
        }
      }
    }
  }

  &__body {
    border: 1px solid $gray-light;
    overflow: hidden;
    padding: $padding;
  }
}

.modal {
  background: rgba(196, 196, 196, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &__container {
    bottom: 0;
    height: 300px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;

    &__inner-container {
      background: #fff;
      padding: $padding;

      &__title {
        @include text-title(h2);
        color: #000;
        font-weight: bold;
        padding-bottom: $padding;
      }

      &__text {
        @include text-title(h4);
        padding-bottom: $padding;
      }
    }
  }
}
