// Grid mixins

@mixin layout() {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

@mixin column($cols, $rows) {
  grid-column: $cols;
  grid-row: $rows;
}

@mixin icon-arrow($direction: down) {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.2s;
  @if $direction == up {
    transform: rotate(-135deg);
  } @else if $direction == right {
    transform: rotate(-45deg);
  } @else if $direction == down {
    transform: rotate(45deg);
  } @else if $direction == left {
    transform: rotate(135deg);
  }
}

@mixin icon-logo() {
  background: $blue;
  border-radius: 50%;
  height: 21px;
  position: relative;
  width: 21px;

  &::after {
    background: #fff;
    content: '';
    height: 7px;
    left: 7px;
    position: absolute;
    top: 7px;
    transform: rotate(45deg);
    width: 7px;
  }
}


@mixin text-title($type: h1) {
  @if $type == h1 {
    color: #000;
    font-size: $font-size-big;
    font-weight: 600;
  }
}
