<ng-container *ngIf="entityData$ | async as entityData">

  <ng-template #headerControlsTemplate>
    <button class="active" *ngIf="isResetHashBtn$ | async" (click)="hide(entityData.id)">
      {{'entity.hide' | transloco}}
    </button>

    <button class="active" *ngIf="isResetHashBtn$ | async" (click)="resetHash(entityData.id, entityData.link.value)">
      {{'entity.reset_hash' | transloco}}
    </button>

    <button class="active" (click)="finishTaskProposalVoting(entityData, entityData.id)" *ngIf="isFinishApplicantsVoteBtn$ | async">
      {{'entity.finish_vote' | transloco}}
    </button>
  </ng-template>

  <ng-template #voteForTask>
    <ui-vote-for-task
      *ngIf="(isVoteForTask$ | async) !== null"
      [isShow]="true"
      [isVote]="(isVoteForTask$ | async)"
      (newVoteEvent)="vote($event, entityData.id)"
    ></ui-vote-for-task>
  </ng-template>

  <ui-entity
    [isShowRaw]="true"
    [contract]="contract"
    [grant]="entityData"
    [headerControlsTemplate]="headerControlsTemplate"
    [voteForTaskTemplate]="voteForTask"
  ></ui-entity>

</ng-container>
