@import 'const';
@import 'container';
@import '~include-media/dist/_include-media.scss';
@import 'mixins';
@import 'mixins/elements/card';
@import '../default-template/default-template.component.scss';
@import '../listing-page.component.scss';

.listing {
  .content {
    display: unset;
  }
}

.listing-page {
  &__description {
    //TODO remove this when statuses appear
    max-width: unset;
  }
}

:host {

  padding-bottom: 3rem;

  &.enable {
    display: block;
  }

  .rejected {
    background: $color_light_gray;
    .card__header__left-block__title,
    .card__header__left-block__address,
    .card__header__left-block__status,
    .card__header__right-block__text,
    .card__header__right-block__price{
      color: $color_dark_gray;
    }
  }
}

.title {
  font-weight: 500;
  margin-bottom: $padding;
}

.card {
  @include card;
  cursor: default;

  & div {
    cursor: default;
  }

  &__header {
    @include media('<=phone') {
      flex-direction: column-reverse;
    }
    &__left-block {
      &__status {
        align-items: center;
      }

      &__desc {
        @include media('<=phone') {
          max-width: unset;
        }
      }
    }
    &__right-block {
      justify-content: flex-start !important;
      margin-right: -8px;

      &-cover {
        position: relative;
        width: 96px;
        height: 96px;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        border: 1px solid $color_black;
        border-radius: 96px;
        background: $color_black;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media('>phone', '<=tablet') {
          width: 72px;
          height: 72px;
          border-radius: 72px;
        }

        @include media('<=phone') {
          margin-bottom: .5rem;
          width: 56px;
          height: 56px;
          border-radius: 56px;
        }
      }

      img {
        width: 64px !important;
        height: 64px !important;

        @include media('>phone', '<=tablet') {
          width: 48px !important;
          height: 48px !important;
        }
        @include media('<=phone') {
          width: 32px !important;
          height: 32px !important;
        }
      }
    }
  }

  &:hover &__header {
    border: 1px solid #e7e7eb !important;
  }
}
