<div class="container">
  <div class="br3"></div>
  <h2>{{'apply_grant.title' | transloco}} {{grantId}}</h2>
  <div class="br3"></div>
  <h1>Telegram Bot</h1>
  <div class="br3"></div>
  <h4>We need a great telegram bot.</h4>
  <div class="br3"></div>
  <div class="dot-list">
    <div class="title">Features:</div>
    <div class="br3"></div>
    <ul>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum dolor.</li>
      <li>Lorem ipsum dolor.</li>
    </ul>
  </div>
  <div class="br3"></div>
  <div class="br3"></div>
  <form [formGroup]="grantForm" (ngSubmit)="onSubmit()">
    <label>
      {{'apply_grant.form.name.label' | transloco}}:
      <div class="br1"></div>
      <input type="text" formControlName="name" [placeholder]="'apply_grant.form.name.placeholder' | transloco">
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <label>
      {{'apply_grant.form.contacts.label' | transloco}}:
      <div class="br1"></div>
      <input type="text" formControlName="emailOrPhone" [placeholder]="'apply_grant.form.contacts.placeholder' | transloco">
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <label>
      {{'apply_grant.form.team.label' | transloco}}:
      <div class="br1"></div>
      <input type="text" formControlName="team" [placeholder]="'apply_grant.form.team.placeholder' | transloco">
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <label>
      {{'apply_grant.form.description.label' | transloco}}:
      <div class="br1"></div>
      <textarea rows="7" type="text" formControlName="experience"
                [placeholder]="'apply_grant.form.description.placeholder' | transloco"></textarea>
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <h4 class="text-bold">
      {{'apply_grant.form.document' | transloco}}
    </h4>
    <div class="br3"></div>
    <div class="br3"></div>
    <label>
      {{'apply_grant.form.document_url.label' | transloco}}:
      <div class="br1"></div>
      <input type="text" formControlName="documentUrl" [placeholder]="'apply_grant.form.document_url.placeholder' | transloco">
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <div class="btn-container full">
      <button type="submit" class="btn active" [disabled]="!grantForm.valid">{{'apply_grant.form.apply' | transloco}}</button>
    </div>
    <div class="br3"></div>
    <div class="br3"></div>
  </form>
</div>


<ui-modal (willConfirm)="willConfirm($event)"></ui-modal>


