@import 'const';
@import 'mixins/elements/text-title';
@import 'mixins/elements/form';
@import 'mixins/elements/btn-container';

h1 {
  @include text-title(h1);
  padding-bottom: $padding;
}

h2 {
  @include text-title(h2);
  padding-bottom: $padding;
}

h4 {
  @include text-title(h4);
  padding-bottom: $padding;
}

form {
  @include form;
}

.btn-container.full {
  @include btn-container(full);
}

