//@import './../../resources/styles/index';
@import 'variables';
@import 'elements';


h1 {
  @include text-title(h1);
}

h2 {
  @include text-title(h2);
  margin-bottom: $padding;
}

h4 {
  @include text-title(h4);
}

form {
  @include form; }

.btn-container.full {
  @include btn-container(full);
}

.grid {
  margin-top: $padding * 2;
}

.tab-title {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: $padding;
  li {
    list-style: none;
    margin: 0;
    border: 1px solid #000;
    padding: $padding/2 $padding;
    margin-right: -1px;
    cursor: pointer;
    transition: 0.3s;
    &.active {
      color: #ffffff;
      background: $blue;
      border: 1px solid $blue;
    }
  }
}
