<div class="container">
  <div class="br3"></div>
  <h2>Setting</h2>

  <div class="br3"></div>
  <div class="br3"></div>
  <form [formGroup]="settingForm">
    <label>
      Work group:
      <div class="br1"></div>
      <input type="text" formControlName="workGroup" placeholder="Enter the working groups">
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <label>
      DAO memner:
      <div class="br1"></div>
      <input type="text" formControlName="DAOMember" placeholder="Enter the DAO member ">
    </label>
    <div class="br3"></div>
    <div class="br3"></div>
    <div class="btn-container full">
      <button type="submit" class="btn active">Apply</button>
    </div>
    <div class="br3"></div>
  </form>

  <div class="grid">
    <div class="grid__container">
      <div class="grid__container__col">
        <div class="dot-list">
          <div class="title">Features:</div>
          <div class="br3"></div>
          <ul>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>
        </div>
      </div>
      <div class="grid__container__col">
        <div class="dot-list">
          <div class="title">Features:</div>
          <div class="br3"></div>
          <ul>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
            <li>Lorem ipsum dolor.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>

<!--<ui-modal (willConfirm)="willConfirm($event)"></ui-modal>-->
