name: Release

on:
  release:
    types: [ published ]

env:
  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  HEROKU_APPLICATION: ${{ secrets.PROJECT }}
  DOCKER_USERNAME: "_"
  DOCKER_TOKEN: ${{ secrets.HEROKU_API_KEY }}

  # Variables for build project
  MEMBERSHIP: ${{ secrets.MEMBERSHIP_PROD }}
  DISRUPTIVE: ${{ secrets.DISRUPTIVE_PROD }}
  WEB3: ${{ secrets.WEB3_PROD }}
  INTERHACK: ${{ secrets.INTERHACK_PROD }}

  DISRUPTIVE_ISSUE_TEMPLATE: ${{ secrets.DISRUPTIVE_ISSUE_TEMPLATE_PROD }}
  WEB3_ISSUE_TEMPLATE: ${{ secrets.WEB3_ISSUE_TEMPLATE_PROD }}
  INTERHACK_ISSUE_TEMPLATE: ${{ secrets.WEB3_ISSUE_TEMPLATE_PROD }}
  GRANT_PROGRAM_LINK: ${{ secrets.WEB3_ISSUE_TEMPLATE_PROD }}
  WORKING_GROUP: ${{ secrets.secrets.WORKING_GROUP_PROD }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Heroku Container Registry
        uses: docker/login-action@v1
        with:
          registry: registry.heroku.com
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: registry.heroku.com/${{ env.HEROKU_APPLICATION }}/web


  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Release
        run: |
          heroku container:release -a $HEROKU_APPLICATION web
