<ng-template #controlsBtn>

  <button class="marginTB" (click)="enableSubmissions()" *ngIf="isEnableSubmissionsBtn$ | async">
    enableSubmissions
  </button>

  <button class="marginTB" (click)="stopSubmissions()">
    {{'entity.stop_submissions' | transloco}}
  </button>

  <button class="marginTB" (click)="acceptWorkResult()">
    {{'entity.accept_work_result' | transloco}}
  </button>

  <button class="marginTB" (click)="submitSolution()" *ngIf="isSubmitSolutionBtn$ | async">
    {{'entity.submit_solution' | transloco}}
  </button>

  <button class="marginTB" (click)="finishVote()" *ngIf="isFinishVoteBtn$ | async">
    {{'entity.finish_vote' | transloco}}
  </button>

  <button class="marginTB" *ngIf="isRejectBtn$ | async" (click)="reject()">
    {{'entity.reject' | transloco}}
  </button>

</ng-template>

<ng-template #headerControlsTemplate>

  <button class="active" (click)="addReward()" *ngIf="isShowAddRewardBtn$ | async">
    {{'entity.add_reward' | transloco}}
  </button>

  <button class="active" (click)="startWork()" *ngIf="isStartWorkBtn$ | async">
    {{'entity.start_work' | transloco}}
  </button>

</ng-template>

<ng-template #team>
  <ui-teams-and-solutions
    [grant]="grant"
    (newSignupEvent)="signup()"
    (newOpenApplyModalEvent)="openApplyModal()"
    (newVoteTeamEvent)="voteTeam($event)"
    (newVoteForSolutionEvent)="voteForSolution($event)"
    (newSubmitSolutionEvent)="submitSolution()"
    titleText="{{'entity.teams' | transloco}}"
    applyBtnText="{{'entity.apply' | transloco}}"
  ></ui-teams-and-solutions>

<!--  <ui-team-->
<!--    [grant]="grant"-->
<!--    (newSignupEvent)="signup()"-->
<!--    (newOpenApplyModalEvent)="openApplyModal()"-->
<!--    (newVoteTeamEvent)="voteTeam($event)"-->
<!--    titleText="{{'entity.teams' | transloco}}"-->
<!--    applyBtnText="{{'entity.apply' | transloco}}"-->
<!--  ></ui-team>-->
</ng-template>

<ng-template #solutionsTemplate>
<!--  <ui-team-->
<!--    [grant]="grant"-->
<!--    (newSignupEvent)="signup()"-->
<!--    (newOpenApplyModalEvent)="openApplyModal()"-->
<!--    (newVoteTeamEvent)="voteTeam($event)"-->
<!--    titleText="{{'entity.solutions' | transloco}}"-->
<!--    applyBtnText="{{'entity.propose_solution' | transloco}}"-->
<!--  ></ui-team>-->
</ng-template>

<ng-template #voteForTask>
  <ui-vote-for-task
    *ngIf="voteForTaskData.isShow"
    [isShow]="voteForTaskData.isShow"
    [isVote]="voteForTaskData.isVote"
    (newVoteEvent)="vote($event)"
  ></ui-vote-for-task>
</ng-template>

<ng-template #stepper>
  <ui-stepper [status]="grant?.status?.value"></ui-stepper>
</ng-template>

<ui-entity
  [contract]="contract" [grant]="grant"
  (newFinishVoteEvent)="finishVote()"
  (newStartWorkEvent)="startWork()"
  (newRejectEvent)="reject()"
  (newAcceptWorkResultEvent)="acceptWorkResult()"
  [controlsTemplate]="controlsBtn"
  [headerControlsTemplate]="headerControlsTemplate"
  [solutionsTemplate]="solutionsTemplate"
  [teamTemplate]="team"
  [voteForTaskTemplate]="voteForTask"
  [stepperTemplate]="stepper"
></ui-entity>
