@import "const";

button {
  margin-left: $padding;
  //margin-bottom: $padding;
  height: 42px;
}

.marginTB {
  margin-bottom: $padding ;
  margin-top: $padding;
}

.see-all-teams-btn {
  margin-top: $padding * 2;
}
